name: Manual Environment Workflow

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Select Environment"
        required: true
        type: choice
        options:
          - dev
          - qa
          - stage
          - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    # Attach job to selected GitHub Environment
    environment:
      name: ${{ inputs.environment }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print Details
        run: |
          echo "Hello World"
          echo "Branch Name: ${{ github.ref_name }}"
          echo "Deploying to Environment: ${{ inputs.environment }}"
